*{
    padding: 0px;
    margin:0px;
    letter-spacing: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height:100%;
    width:100%;
    overflow-x: hidden;
    background-color: black;
    
}

nav{
    width:100vw;
    height:7vh;
    background: var(--offer, linear-gradient(90deg, var(--Violet-violet-600, #5c32bf) 0%, var(--Violet-violet-600, #5c32bf) 20%, var(--Red-red-500, #e50914) 100%));
    border : 2px solid white;
    color:white;
    font-weight:630;
    font-size: clamp(0.5rem,5vw,1.4rem);
    letter-spacing: -0.5px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    text-align: center;
    line-height: 7vh;
    position:fixed;
    z-index: 30000;
    box-shadow: 2px 2px 10px 7px black;

}



/* 
.img-container{
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.img-container img{
    height: auto;
    width:100vw;

} */

.black-scr{
    background-color:black;
    z-index:0;
    height:100%;
    width:100%;
    position:absolute;
    opacity:0.65;
    top:0%;
    left:0%;
} 

.sub-main{
    position:relative;
    z-index: 2000;
}

.bg-main{
    height:7vh;
    width:100vw;
}

/* main{
    background-image: url(assets/netflix\ bg.jpg);
    height:100%;
    width:100%;
    position: relative;
    background-size: cover;
    /* margin-top: 7.5vh; */


main {
    background-image: url("assets/netflix bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
}


.logo img{
    object-fit: cover;
    height:7.5vh;
}




.main-nav{
    /* margin-top: 1rem; */
    display:flex;
    gap:50vw;
    padding:1.5rem;
    justify-content: center;
    align-items:center;

}

select{
    border:1px double grey;
    
    outline-offset: 1px;
    background-color:rgba(0,0,0,0.6);
    opacity: 1;
    color:white;
    font-family: sans-serif;
    font-weight: 700;
    font-style: bold;
    border-style: double;
    font-size: clamp(0.5rem,5vw,1.2rem);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.4rem;
}

select:hover{
    outline:2px solid white;
}

.buttons{
    display: flex;
    gap:1rem;
}

.buttons button{
    background-color: #e50914;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.3rem;
    color:white;
    font-family: sans-serif;
    font-size: clamp(0.5rem,5vw,1.2rem);
    border:none;
    
}

.buttons button:hover{
    background-color: #93040c;
    
}

.main-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-hero .text{
    margin-top: 21vh;
}


.text p{
    font-family: sans-serif;
    color:white;
    font-weight: 700;
    font-size: 4.5rem;
    letter-spacing: 0px;
}


#net-email{
    /* margin-top: 1.54rem; */
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
    padding-right: 10rem;
    border:1px solid rgb(214, 210, 210);
    border-radius:0.3rem;
    font-weight: 800;
    font-size: 1.2rem;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(0,0,0,0.6);
}

#try{
    background-color: #e50914;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border:none;
    color: white;
    font-weight: 700;
    font-size: 1.9rem;
    border-radius: 0.5rem;
}


.email{
    display: flex;
    gap:1rem;
    margin-top: 1.54rem;
}



.border{
    margin-top: 5rem;
    height:10vh;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    border-top: 8px solid #e50914;
}

section{
    
    min-height: 90vh;
    padding: 0;
    margin: 0;;
    background-color: rgb(6, 5, 8);
}


.sec_1{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.card{
    height:30rem;
    width:20rem;
    /* background-color: black;
     */
    background-image: url(assets/t1.webp);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.card:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.card p{
    font-size: 5rem;
    color: rgba(0,0,0,0.9);
    text-shadow:
        2px 2px 0 white,
        -2px -2px 0 white,
        2px -2px 0 white,
        -2px 2px 0 white;
    font-weight: 700;
}

.border h2{
    color:white;   
    margin-left: 7rem;
    margin-top: 3rem;
    z-index: 2000;

}

.carousel {
    margin-top: 2rem;
    width: 80vw;
    overflow: hidden;
    position: relative;
}

.cards {
    display: flex;
    gap: 2.5rem;
    flex-wrap: nowrap;

    transition: transform 0.5s ease;
}

.card {
    flex: 0 0 15rem;
    height: 20rem;
    background-image: url(assets/t1.webp);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(0,0,0,0.7);
    color:white;
    border:none;
    font-size:3rem;
    cursor:pointer;
    padding:10px;
}

.left {
    left:0;
}

.right {
    right:0;
}


.sec_2{
    width:80vw;
    margin:0 auto;
    margin-top: 2rem;

}

.sec_2 .text{
    font-size: clamp(1.9rem , 5vw, 1.8rem);
    font-weight: 700;
    color:white;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
}

.reasons{
display: flex;
justify-content: center;
align-items: center;
gap:2.5rem;

}

.reasons_cards{
    background-color: gray;
    height:19rem;
    width:25rem;
    border-radius: 0.8rem;
    background:linear-gradient(to right,rgb(26,32,65),rgb(30,21,40));
    color:white;
    padding:1rem;
    position: relative;
    
}



.reasons_cards h1{
    font-size: 2rem;
    letter-spacing: -0.6px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-weight: 650;
}

.reasons_cards p{
    font-size: clamp(0.7rem,5vw , 1.25rem)
}

.reasons_cards .svg{
    position:absolute;
    bottom: 5%;
    right: 5%;
}

.hero{
    min-height:100vh;
    width:100vw;
    background-color: black;;
}

.container {
    width: 80vw;
    margin: 0 auto;
    padding-top: 5rem;
}

.container .text {
    margin-top: 0;
}

.container .text{

    font-size: clamp(1.9rem , 5vw, 1.8rem);
    font-weight: 700;
    color:white;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

#try:hover{
    background-color: rgb(122, 15, 15);
}

.que{
    /* font-size: clamp(0.2rem,5vw,1.9rem); */
    font-size: calc(0.7rem + 1vw);
    color:white;
    font-weight: 500;
    width:100%;
    background-color:rgb(45, 45, 45);
    height:8vh;
    border-radius: 0.1rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:70%;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}

.que:hover{
    background-color: rgb(163, 158, 158);
}

footer{
    background-color: black;
    width: 100%;
    height:100vh;
}

.footer_1{
    width:80vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.footer_1 #net-email{
    padding-right: 28rem;
    /* margin-top: 0.2rem; */


}

footer p{
    color: white;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    font-weight: 450;
    
}

.footer_2{
    width:80vw;
    margin : 0 auto;
}

.cols{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;

    /* border:2px solid white; */
    height:20vh;
}

.content{
    margin-top: 1.8rem;
    display: flex;
    justify-content:start;
    flex-direction: column;
    gap:1rem;
}

.content a{
    font-weight: 400;
    color:white;
    font-size: clamp(0.6rem,5vw,1.15rem);
    letter-spacing: -0.5px;
    /* word-spacing: -4.5px; */
}

.last p{
    color:white;
    font-size: 0.9rem;
}