:root{
    --light_blue:#a8d5e2;
    --orange:orange;
    --mustard:#FFD449;
    --forest_green:#548C2F;
    --black_forest:#104911;

}

*{
    padding: 0px;
    margin: 0px;
}

html,body{
    overflow-x:hidden;
    background-size: 300% 300%;
    background:linear-gradient(to right,lightyellow,var(--mustard),var(--orange));
    animation:bg-move 6s ease-in-out infinite;
    height:100vh;
    width:100vw;
    overflow: hidden;
}

@keyframes bg-move{
    0%{
        background-position: 0% 0%;
    }
    25%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 75%;
    }
    75%{
        background-position: 30% 50%;
    }
    100%{
        background-position: 0% 0%;
    }
}

.navbar{
    background-color: var(--forest_green);
    height:10vh;
    width:100vw;
    border: 3.5px solid var(--black_forest);
    box-shadow: 0px 0.25rem 1rem 0.5rem var(--black_forest);
    
}

.navbar p{
    color:white;
    font-family: sans-serif;
    font-weight: 800;
    font-size: clamp(1rem ,5vw, 2rem);
    text-align: center;
    line-height: 9vh;
   
}


.container{
    display:flex;
    justify-content: center;
    align-items: center;
    /* height:90vh;
    gap:clamp(10rem,5vw,20rem); */
    height: 90vh;
    flex-direction: column;
}

.sub-container1{
    display:flex;
    justify-content: center;
    align-items: center;
    height:70vh;
    gap:clamp(15rem,5vw,30rem);
}

.sub-container2{
    height:30vh;
}

.sub-container2 button{
    color:white;
    font-weight: 750;
    font-family: sans-serif;
    font-size: clamp(0.8rem , 5vw , 1.6rem);
    background-color: var(--black_forest);
    padding: 0.85rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 7px 2px rgb(40, 40, 40);
}


.player{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:20vh;
}

.computer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:20vh;
    
}

.player-logo,.computer-logo{
    /* object-fit: cover; */
    width:13remp;
    height:13remp;
    margin-bottom: 1.5rem;
}

.player-logo img,.computer-logo img{
    width:12rem;
    height:12rem;
    border-radius: 50%;
    object-fit: cover;
}

.player-logo img:hover,.computer-logo img:hover{
    border:2px solid black;
    box-shadow:1.5px 1.5px 10px 3px black;
    
}

.player p,.computer p{
    font-family: sans-serif;
    font-size: clamp(0.8rem , 5vw, 1.5rem);
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.black-sheet{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    opacity:1;
    z-index:-10;
}


.choices{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:30%;
    left:28%;
    gap:3.5rem;
    z-index: 20;
}

.choices img{
    width:12rem;
    height:12rem;
    border-radius: 50%;
    object-fit: cover;
    cursor:pointer;



}

#rock,#scissor,#paper{
    width:13rem;
    height:13rem;
    opacity:1;

    

}


.popup{
        animation-name: popup;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
    /* animation-delay: 1s; */
    animation-iteration-count: 1;
}

@keyframes popup {
    0% {
        transform: scale(0.01) translateY(0);
    }

    50% {
        transform: scale(1.2) translateY(-20px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}


.YES,.NO{
    visibility: visible;
    position:fixed;

}

.YES{
    position: fixed;
}

.NO img{
    object-fit: cover;
        width:10rem;
        height:10rem;
        border-radius: 50%;
}


.YES img{
    object-fit: cover;
        width:10rem;
        height:10rem;
        border-radius: 50%;
}

.player_choice{
    left:6%;
    top:50%;
    animation-name: popenter;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}


@keyframes popenter {
    0%{
        transform:translateX(-50px) scale(0.2);
    }
    50%{
        transform:translateX(50px) scale(1.1);
    }
    100%{
        transform:translateX(0px) scale(1);
    }
    
}



.computer_choice{
    right:5%;
    top:50%;
    animation-name: popenter2;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}


@keyframes popenter2    {
    0%{
        transform:translateX(50px) scale(0.2);
    }
    50%{
        transform:translateX(-50px) scale(1.1);
    }
    100%{
        transform:translateX(0px) scale(1);
    }
    
}


.message{
    position:fixed;
    top:15%;
    left:47%;
    visibility: hidden;
    padding: 1rem;
    color:white;
    border-radius: 1rem;
    font-family: sans-serif;
    font-weight: 800;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--forest_green);
    font-size: 1rem;
    font-style: italic;

}
