*{
    padding:0;
    margin:0;
}


:root{
    --iron-grey: #4C5760;
    --cool-steel: #93A8AC;
    --sand-dune: #D7CEB2;
    --khaki-beige: #A59E8C;
    --dim-grey: #66635B;

--celadon: #a7d49bff;
--muted-teal: #92ac86ff;
--stone-brown: #696047ff;
--espresso: #55251dff;
--dark-garnet: #5a1807ff;
}


body{
    background: linear-gradient(to right , var(--celadon), var(--muted-teal), var(--stone-brown));
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    flex-direction: column;
    gap:2rem;
}

.container{
    background-color: whitesmoke;
    /* height:85vh;
    width:35vw; */
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    
    width: min(90vw, 450px);
    height: min(90vw, 450px);
}



.board{
    background-color: var(--sand-dune);
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}


.board button{
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: clamp(1.5rem, 5vw, 3rem);
    gap:0.1rem;
    border-radius:0.25rem;
    background-color: var(--khaki-beige);
    border-color:transparent;
    box-shadow: 6px 6px 0px 0px var(--dim-grey);
    opacity: 0.92;
    font-size: 2rem;

}


@media (max-width: 768px) {
    .container {
        width: 90vw;
        height: 90vw;
    }
}


#resetButton{
    margin-top: 1.5rem;
    padding:0.7rem;
    border-radius: 0.25rem;
    border:0.1rem white solid;
    font-family: sans-serif;
    color:white;
    background-color: var(--espresso);
    font-weight: 700;
}

button:disabled {
    opacity: 1;
    background-color: var(--khaki-beige);
    color: black;
    cursor: default;
    box-shadow: 6px 6px 0px 0px var(--dim-grey);
}