<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Player</title>
    <link rel="stylesheet" href="static/styles/player.css" class="css">
</head>
<body>
    <div class="boxx">
        <h1>Choose the Player ?</h1>
        <form action="/choice" method="post">
        <div class="player">
            <button type="submit" name="O" value="O">
                <img id="O" src="static/O.jpeg" alt="O" height=auto width=auto></img>
            </button>
            <h1>V / S</h1>
            <button type="submit" name="O" value="X">
                <img id="X" src="static/X.jpeg" alt="X" height=auto width=auto></img>
            </button>
        </div>
        </form>
    </div>
</body>
</html>