<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration</title>
    <link rel="stylesheet" href="static/styles/register.css" class="css">
</head>
<body>
    <div class="container">
        <h1>Registration</h1>
        <form action="/register">
            <p>Email Add:-</p> 
            <input type="email" required placeholder="abc@outlook.com"><br>
            <p>Password :-</p>
            <input type="password" required minimum="5" placeholder="atleast 5 characters" >
        </form>
        <a href="otp.html">forgot password ?</a><br>
        <button type="submit" value="Register">Register</button><br>
        <a href="login.html">Already have account ? Login </a>
        <h2>Tic-Tac-Toe</h2>
    </div>
</body>
</html>